# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# ignore fabric yarn generated runs
/runConfigurations/Minecraft_Client.xml
/runConfigurations/Minecraft_Server.xml

# gradle project, ignore ide project files
/compiler.xml
/modules.xml

# git
/vcs.xml
/misc.xml
